.form {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: var(--color-bg-secondary);
  width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

.logo {
  font-family: var(--heading-font);
  font-size: 3.7em;
  font-weight: bold;
  color: var(--color-brand-primary);
  padding-bottom: 16px;
}

h1 {
  margin-bottom: 20px;
}

.form_label {
  margin-bottom: 10px;
}

.form_input {
  width: 80%;
  height: 35px;
  margin-bottom: 20px;
}

.btn {
  cursor: pointer;
}

.btn_link {
  border: none;
  background: none;
  font: inherit;
  color: var(--color-brand-primary);
}
.btn_submit {
  border: none;
  font: inherit;
  padding: 10px 80px;
  margin-bottom: 18px;
  color: white;
  background-color: var(--color-brand-primary);
  border-radius: 8px;
  transition: 200ms ease-in-out;
}

.btn_submit:hover {
  background-color: var(--color-brand-secondary);
  transition: 200ms ease-in-out;
}

.btn_toggle {
  margin-bottom: 4px;
}
