@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Varela+Round&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  /* colors */
  --color-bg-primary: #25304d;
  --color-bg-secondary: #19223b;
  --color-card-primary: #ffff;
  --color-brand-primary: #9c7cf6;
  --color-brand-secondary: #a88fee;
  --color-alert-confirm: #97d397;
  --color-alert-danger: #d12727;
  --color-pending-primary: #f1cf76;
  --color-pending-secondary: #5a4406;
  --color-interview-primary: #7dd5f0;
  --color-interview-secondary: #121236;
  --color-declined-primary: #e64242;
  --color-declined-secondary: #640a0a;
  --color-font-primary: #e8eaee;
  /* --color-font-secondary:  */

  --box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  --bg-blue: #25304d;
  --nav-blue: #dae0f0;
  --card-bg: #ffffff;
  --pending-yellow: #f1cf76;
  --intervew-blue: #7689f1;
  --declined-red: #fe6969;
  --button-bg: #ee6c4d;
  --button-hover: #e25430;
  --dark-bg: #19223b;

  /* fonts */
  --heading-font: 'Varela Round', Sans-Serif;
  --font-color: #e3e5eb;
  --nav-height: 5rem;
}

/* base styles */
html,
body,
#root {
  height: 100%;
}
body {
  font-family: Poppins, sans-serif;
  margin: 0;
  background-color: var(--bg-blue);
  color: var(--font-color);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

button {
  background: none;
  border: none;
  font: inherit;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}
