.card {
  background-color: var(--dark-bg);
  border-radius: 5px;
  padding-top: 1rem;
  padding-left: 1rem;
  box-shadow: var(--box-shadow);
}

.card:first-child {
  color: var(--color-pending-primary);
}
.card:nth-child(2) {
  color: var(--color-interview-primary);
}
.card:last-child {
  color: var(--color-declined-primary);
}
.icon {
  font-size: 1.1rem;
  background-color: rgba(175, 174, 174, 0.144);
  width: 60px;
  height: 60px;
  border-radius: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-font-primary);
}

.title {
  color: var(--color-font-primary);
  font-size: 1rem;
  text-transform: capitalize;
}

.count {
  font-size: 4em;
  font-weight: bold;
}
