.form_register {
  width: 650px;
  margin: auto;
}

.form_label {
  margin-bottom: 10px;
  display: inline-block;
}

.form_input {
  display: block;
  font: inherit;
  height: 35px;
  margin-bottom: 20px;
  width: 100%;
}

.add_job {
}
