.form {
  background: var(--color-bg-secondary);
  border-radius: 5px;
  padding: 1rem 2rem;
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
}

.title {
  margin-bottom: 1rem;
}

.form_center {
  column-gap: 3rem;
}

.btn {
  padding: 0.4em;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
}
.btn_submit {
  padding: 0.4em;
  background: var(--color-brand-primary);
  border-radius: 5px;
  color: var(--color-font-primary);
}

.btn_submit:hover {
  background: var(--color-brand-secondary);
}

.link {
  margin-left: 1rem;
  text-decoration: none;
  color: var(--color-brand-primary);
  border: 2px solid var(--color-brand-primary);
}

@media screen and (min-width: 760px) {
  .form_center {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1200px) {
  .form_center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
