.alert {
  width: 100%;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 8px;
  border-radius: 5px;
  color: var(--color-font-primary);
}

.alert_danger {
  background: var(--color-alert-danger);
}

.alert_confirm {
  background: var(--color-alert-confirm);
}
