.chart_container {
  margin-top: 2rem;
  background: var(--color-bg-secondary);
  border-radius: 5px;
  padding: 1rem;
  box-shadow: var(--box-shadow);
}

.title {
  margin-bottom: 2rem;
  text-align: center;
}
