.chart_container {
  margin-top: 2rem;
  background: var(--dark-bg);
  border-radius: 5px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.title {
  margin-bottom: 2rem;
  text-align: center;
}
