.big_sidebar {
  position: fixed;
  top: 5rem;
  height: calc(100vh - 5rem);
  width: 14em;
  background: #19223b;
  color: white;
  margin-left: -14em;
  transition: 0.2s ease;
}

.content {
  top: 0;
}

.big_sidebar_header {
  font-size: 3em;
  font-weight: bold;
  display: flex;
  color: white;
  display: flex;
  justify-content: center;
  height: 5rem;
}

.big_sidebar_header span {
  color: #9c7cf6;
}

.show_sidebar {
  margin-left: 0em;
  transition: 0.2s ease;
}

.add_container {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 4rem;
  left: 1.3rem;
  background: #9c7cf6;
  width: 80%;
  border-radius: 5px;
  font-size: 1.1rem;
  padding: 0.5em;
  color: white;
}

.add_container span {
  margin-left: 1.5rem;
  text-decoration: none;
  color: white;
}

.add_container:hover {
  cursor: pointer;
}

.add_icon {
  position: relative;
  left: 0;
}
