.navbar {
  height: 5rem;
  background: var(--color-bg-secondary);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  transition: 0.2s ease;
  z-index: 1;
  width: 100%;
}

.btn_toggle {
  color: var(--color-font-primary);
  font-size: 1.5rem;
  padding-left: 10px;
  margin-top: 0.4rem;
}

.nav_left {
  display: flex;
  align-items: center;
  margin-left: 1.3rem;
}

.logo {
  margin-left: 0.5rem;
  font-size: 2em;
  font-weight: bold;
  display: flex;
  color: var(--color-font-primary);
  align-items: center;
}

.logo span {
  color: var(--color-brand-primary);
}

.active_sidebar {
  transition: 0.2s ease;
}

.btn_container {
  position: relative;
}

.btn_container,
.dropdown {
  margin-left: auto;
  margin-right: 5.5em;
  padding: 0.2em;
  background: var(--color-brand-primary);
  border-radius: 5px;
}

.btn_container button {
  display: flex;
  height: 2.5rem;
  align-items: center;
  color: var(--color-font-primary);
  font-size: 1.2rem;
}

.btn_container .user {
  padding: 0.9rem;
}

.dropdown {
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 0.4em;
  width: 100%;
  top: 0px;
  left: 0;
  visibility: hidden;
  z-index: -1;
  transition: 0.1s ease;
}

.show_dropdown {
  transform: translateY(38px);
  visibility: visible;
  transition: 0.1s ease;
}

.show_dropdown:hover {
  background: var(--color-brand-secondary);
  transition: 0.1s ease;
}
