.navbar {
  height: 5rem;
  background: #19223b;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  transition: 0.2s ease;
}

.nav_center {
  font-size: 3em;
  font-weight: bold;
  display: flex;
  color: white;
}

.nav_center span {
  color: #9c7cf6;
}

.btn_toggle {
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.active_sidebar {
  margin-left: 14em;
  transition: 0.2s ease;
}

.btn_container {
  position: relative;
}

.btn_container,
.dropdown {
  margin-left: auto;
  margin-right: 5.5em;
  padding: 0.2em;
  background: #9c7cf6;
  border-radius: 5px;
}

.btn_container button {
  display: flex;
  height: 2.5rem;
  align-items: center;
  color: white;
  font-size: 1.2rem;
}

.btn_container .user {
  padding: 0.9rem;
}

.dropdown {
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 0.4em;
  width: 100%;
  top: 0px;
  left: 0;
  visibility: hidden;
  z-index: -1;
  transition: 0.1s ease;
}

.show_dropdown {
  transform: translateY(38px);
  visibility: visible;
  transition: 0.1s ease;
}

.show_dropdown:hover {
  background: #a88fee;
  transition: 0.1s ease;
}
